.gradle/
.gradle-dist/

build/*
!build/libs/
!build/libs/*.jar

!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
.vscode/

.classpath
.project
.settings/

/nbproject/private/
/nbbuild/
/dist/
/.nb-gradle/

.DS_Store
Thumbs.db

*.log
*.class

run/
logs/

.env
.env.*
